## Python Modeling Exercises

Before you turn this problem in, make sure everything runs as expected. First, restart the kernel (in the menubar, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All).  You can speak with others regarding the assignment but all work must be your own. 


### This is a 30 point assignment graded from answers to questions and automated tests that should be run at the bottom. Be sure to clearly label all of your answers and commit final tests at the end. If you attempt to fake passing the tests you will receive a 0 on the assignment and it will be considered an ethical violation. (Note, not all questions have tests).

### You must show the executed code and then the output . Do not just copy and past the code to a markdown cell.

In [1]:
NAME = "Emma Prescott"

In [2]:
!pip install ipython_unittest
%load_ext ipython_unittest

Requirement already satisfied: ipython_unittest in /opt/conda/lib/python3.6/site-packages (0.3.1)

In [3]:
#You probably will have loaded this before. 
#!conda install -c conda-forge ipython_unittest

#### Answer (1) here.

In [4]:
import pandas as pd
#Load the train-new.csv and test-new.csv into dataframes train and test
train = pd.read_csv('input/train-new.csv')
test = pd.read_csv('input/test-new.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,family_size,Survived_log
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,H,S,Mr,2,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,C,Mrs,2,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,H,S,Miss,1,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C,S,Mrs,2,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,H,S,Mr,1,0

## Dummy Variables XSIMPLE Example.

In the previous python examples we had easy data to work with that consisted of numeric data.  For scikit learn, we have to convert our categorical data to numeric data. Let's do a refresher and create a simple model.

In [5]:
train_xsimple = pd.get_dummies(train[['Sex']])
train_xsimple.head()

   Sex_female  Sex_male
0           0         1
1           1         0
2           1         0
3           1         0
4           0         1

In [6]:
# Combine the continuous variables Age and Pclass with the dummies. 
X = pd.concat([train[['Age','Pclass']], train_xsimple], axis=1)
X.head()

    Age  Pclass  Sex_female  Sex_male
0  22.0       3           0         1
1  38.0       1           1         0
2  26.0       3           1         0
3  35.0       1           1         0
4  35.0       3           0         1

### Dummy Variables: Generating X
Follow the example above to generate a new value for X utilizing all the continuous and dummy data.  

The resulting dataframe X should be all numeric and have these columns (in the correct order): ['Age','Pclass', 
        'SibSp','family_size','Fare','Sex_female','Sex_male', 
        'Embarked_C', 'Embarked_Q','Embarked_S','Title_Miss', 
        'Title_Mr', 'Title_Mrs','Cabin_A','Cabin_B','Cabin_C', 
        'Cabin_D','Cabin_E','Cabin_F','Cabin_G','Cabin_H']

In [7]:
columns=train[['Age','Pclass','SibSp','family_size','Fare', 'Sex', 'Embarked', 'Title', 'Cabin']]
X= pd.get_dummies(columns)
X.head()

,Age,Pclass,SibSp,family_size,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,...,Title_Mr,Title_Mrs,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_H
0,22.0,3,1,2,7.2500,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
1,38.0,1,1,2,71.2833,1,0,1,0,0,...,0,1,0,0,1,0,0,0,0,0
2,26.0,3,0,1,7.9250,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
3,35.0,1,1,2,53.1000,1,0,0,0,1,...,0,1,0,0,1,0,0,0,0,0
4,35.0,3,0,1,8.0500,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1

### Test we got X right.
This is the same test that is included below.

In [8]:
%%unittest_main
class TestPackages(unittest.TestCase):
    def test_packages1(self):
        self.assertTrue((X.columns.values.tolist() == ['Age','Pclass', \
        'SibSp','family_size','Fare','Sex_female','Sex_male', \
        'Embarked_C', 'Embarked_Q','Embarked_S','Title_Miss', \
        'Title_Mr', 'Title_Mrs','Cabin_A','Cabin_B','Cabin_C', \
        'Cabin_D','Cabin_E','Cabin_F','Cabin_G','Cabin_H']))

Success

.
----------------------------------------------------------------------
Ran 1 test in 0.001s

OK

## Set the y Value

Set the y variable to the dependent variable.

In [9]:
#Set the y value to survived. 
y= train['Survived']

## Split Training Set For Cross Validation
We want to split up our training set so that we can do some cross validation.  

In doing below, use the sklearn methods to to a train test split.  

From X y dataframe, generate the following dataframes by drawing the data **randomly**  from the train dataframe 80% of the data in train and 20% of the data in test.  So that you get repeatable results, set the `random_state=100`. This will set a "seed" so that your random selection will be the same as mine and you will pass the internal tests. 

train_X, test_X, train_y, test_y

In [10]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X, y, 
                                                    train_size=0.8,
                                                    test_size=0.2,
                                                    random_state=100)

### Perform Nearest Neighbor Classification (KNeighborsClassifier)
Using the default options, perform nearest neighbor classification. 

Calculate the accuracy measure using `metrics.accuracy_score` for both the training data (assign to `knn_train1_y_acc`) and the testing data (assign to `knn_test1_y_acc`).

In [11]:
from sklearn.neighbors import KNeighborsClassifier

classifier = KNeighborsClassifier()  #This creates a model object.
classifier.fit(train_X, train_y)   #This fits the model object to the data.

pred_x = classifier.predict(train_X)   #This creates the prediction.
pred_y = classifier.predict(test_X)

In [12]:
from sklearn import metrics
import numpy as np

#This calculates the accuracy.
knn_train1_y_acc=metrics.accuracy_score(train_y, pred_x)
knn_test1_y_acc=metrics.accuracy_score(test_y, pred_y)
print('KNN train accuracy:', knn_train1_y_acc)
print('KNN test accuracy:', knn_test1_y_acc)

KNN train accuracy: 0.8202247191011236
KNN test accuracy: 0.6871508379888268

**2. Is the accuracy higher for the training or the test set?  Is this normal?  Does the difference indicate anything?**

In [13]:
q2_answer="""The accuracy of the train set is higher than the accuracy of the test set (0.82 vs. 0.69). This difference in accuracies (train's is higher than test) is normal. We split our data into two subsets (training & test) - The training data is used to build and fit our predictive models on a subset of [known] data. While the test set is used as a reserve of current data and treated as new/future data. By comparing the accuracies resulting from the training and test set, we're able to properly evaluate the performance of our predictive models. However, in this situation, we see a big difference between the training and test accuracies which indicates the KNN model is overfitting to the train data. In other words, our model learned rules specific to the train set which do not carry over/generalize well when exposed to test/new data."""

### Confusion Matrix
Though we haven't calculated one in example code, we can utilize a confusion matrix to be able to understand misclassifications a bit more.  

See the documentation [here](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html). 

You can utilize the syntax below to generate knn_mat1_train and knn_mat1_test.  
```
from sklearn.metrics import confusion_matrix
confusion_matrix(y_true, y_pred)
```

**3. Explain what each of the four values for the confusion matrix for train means. Are the false-positives or false-negatives more frequent for the train set?**

In [14]:
q3_answer="""Overall, the confusion matrix is a table that describes the performace of a classification model when applied to data where the true values are known. Essentially it's a further breakdown of the number of cases that the model accuately or inaccuratly predicts the true/false nature of the known case. 
In our case, the confusion matrix tells us how overfitting our model is.

top-left number -- true-positive: 393 out of the 712 cases are correctly predicted true values
top-right number -- false-positive: 52 out of the 712 cases are incorrectly predicted true values
bottom-left number -- false-negative: 76 out of the 712 cases are correctly predicted not-true values
bottom-right number -- true negative: 191 out of the 712 cases are incorrectly predicted not-true values

The false-negatives are more frequent in the train set.
"""

In [15]:
knn_train1_y = classifier.predict(train_X)
knn_test1_y = classifier.predict(test_X)

In [16]:
from sklearn.metrics import confusion_matrix
knn_mat1_train=confusion_matrix(train_y, knn_train1_y)
knn_mat1_test=confusion_matrix(test_y, knn_test1_y)
print('Confusion train matrix:\n', knn_mat1_train)
print('Confusion test matrix:\n', knn_mat1_test)

Confusion train matrix:
 [[393  52]
 [ 76 191]]
Confusion test matrix:
 [[77 27]
 [29 46]]

### Other Models

Test 2 other algorithms/models (your choice but make sure you pick a classifier!).  Provide a summary of the best performance below. 

Use any of the available classification models. You should show and comment code

[Scikit Learn Documentation](http://scikit-learn.org/stable/supervised_learning.html#supervised-learning).

In [17]:
# Logistic Regression is used to predict the probability of a categorical dependent variable (in this case 1 for survival or 0 for died). It describes and estimates the relationship between the dependent binary variable and the independent variables.
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression(C=1.0, penalty = 'l1') 
logreg.fit(train_X, train_y.values.ravel())
pred_x = logreg.predict(train_X)
acc_logreg_train = metrics.accuracy_score(pred_x, train_y)
print('LRegression train accuracy:', acc_logreg_train)

pred_y = logreg.predict(test_X)
acc_logreg_test = metrics.accuracy_score(pred_y, test_y)
print('LRegression test accuracy:', acc_logreg_test)

LRegression train accuracy: 0.8188202247191011
LRegression test accuracy: 0.8044692737430168

In [18]:
# Support Vector Machines finds an optimal line/hyperplane that seperates and categorizes the data. 
from sklearn.svm import SVC

svc = SVC()
svc.fit(train_X, train_y)
pred_x = svc.predict(train_X)
acc_svc_train = metrics.accuracy_score(pred_x, train_y)
print('SVM train accuracy:', acc_svc_train)

svc.fit(test_X, test_y)
acc_svc_test = metrics.accuracy_score(pred_y, test_y)
print('SVM test accuracy:', acc_svc_test)

SVM train accuracy: 0.8834269662921348
SVM test accuracy: 0.8044692737430168


** 4. Which model performed the best of the 3?  List the accuracy for each.**

In [19]:
q4_answer="The Support Vector Machines model performed the best out of the three. \nAccuracies: \nNearest Neighbor Classifier train: 0.820225 test: 0.687151 \nLogistic Regression train: 0.818820 test: 0.821229 \nSupport Vectors Machine train: 0.883427 test: 0.899441"
acc_table = pd.DataFrame({'Model' :['Nearest Neighbor Classifier', 'Logistic Regression', 'Support Vectors Machine'], 'Train Score' : [knn_train1_y_acc, acc_logreg_train, acc_svc_train], 'Test Score' : [knn_test1_y_acc, acc_logreg_test, acc_svc_test]})
acc_table.sort_values(by='Train Score', ascending=False)

                         Model  Train Score  Test Score
2      Support Vectors Machine     0.883427    0.804469
0  Nearest Neighbor Classifier     0.820225    0.687151
1          Logistic Regression     0.818820    0.804469

## Hyperparameters

** For the best performing model, look at the scikit learn documentation and identify 2 alternate model configurations.  For example, if the best performing model is a nearest neighbor, your could change the value for K. If the model is an SVM, you could try to change the value for the Kernal. **

In [20]:
#Best performing model was SVM
#Typical examples of hyperparameters for SVC include C, kernel and gamma
#The default SVC parameters include --  C=1.0, kernel='rbf', and gamma='auto' which uses 1/n_features

In [21]:
#Change One -- Slightly increase parameter C from 1.0 to 1.5
svc = SVC(C=1.5)
svc.fit(train_X, train_y)
pred_x = svc.predict(train_X)
acc_svc_train = metrics.accuracy_score(pred_x, train_y)
print('train accuracy:', acc_svc_train)

pred_y = svc.predict(test_X)
acc_svc_test = metrics.accuracy_score(pred_y, test_y)
print('test accuracy:', acc_svc_test)

train accuracy: 0.898876404494382
test accuracy: 0.7597765363128491

In [22]:
#Change Two -- Slightly decrease parameter C from 1.0 to 0.5 
svc = SVC(C=0.5)
svc.fit(train_X, train_y)
pred_x = svc.predict(train_X)
acc_svc_train = metrics.accuracy_score(pred_x, train_y)
print('train accuracy:', acc_svc_train)

pred_y = svc.predict(test_X)
acc_svc_test = metrics.accuracy_score(pred_y, test_y)
print('test accuracy:', acc_svc_test)

train accuracy: 0.8441011235955056
test accuracy: 0.7206703910614525

**5. What did you change and what was the impact on the prediction."

In [23]:
q5_answer="""By changing the C parameter, otherwise called the regularization parameter, I'm telling the SVM model the amount of error I'm willing to accept in terms of missclassfied data points. Increasing the C value the model will choose a smaller-margin hyperplane, thus classifying more of the training points more correctly (ie. higher accuracies). While a smaller C value will tell the model to look for a larger-margin that seperates the hyperplane, where more points may be misclassified (ie. lower accuracies). As you can see from the four accuracies above, my models follow this trend with the train dataset, but the test accuracies actually decreased with both changes. 
"""

**For the best performing model, try simplifying the input variables to age, gender, and class. **

In [24]:
columns=train[['Age', 'Pclass', 'Sex']]
Z= pd.get_dummies(columns)
train_X, test_X, train_y, test_y = train_test_split(Z, y, 
                                                    train_size=0.8,
                                                    test_size=0.2,
                                                    random_state=100)
svc = SVC()
svc.fit(train_X, train_y)
pred_x = svc.predict(train_X)
acc_svc_train = metrics.accuracy_score(pred_x, train_y)
print('train accuracy:', acc_svc_train)

pred_y = svc.predict(test_X)
acc_svc_test = metrics.accuracy_score(pred_y, test_y)
print('test accuracy:', acc_svc_test)

train accuracy: 0.8469101123595506
test accuracy: 0.8268156424581006

**6.  What is the resulting impact on performance of the model when reducing the input variables?**

In [25]:
q6_answer="""By simplifying the input variables, the performance/accuracy of the SVC model decreased (from 0.88 & 0.80 to 0.85 & 0.83). I believe this occurs because by simplifying the input variables, we're essentially decreasing the number of values within the datasets which in turn impacts the ability to yield statistically meaningful results. 
"""

### Grading
These will be used for grading. 

15 - Automated test.
15 - Answers to questions.

In [26]:
%%unittest_main
class TestHm6(unittest.TestCase):
    def test1_columns(self):
        self.assertTrue((X.columns.values.tolist() == ['Age','Pclass', \
        'SibSp','family_size','Fare','Sex_female','Sex_male', \
        'Embarked_C', 'Embarked_Q','Embarked_S','Title_Miss', \
        'Title_Mr', 'Title_Mrs','Cabin_A','Cabin_B','Cabin_C', \
        'Cabin_D','Cabin_E','Cabin_F','Cabin_G','Cabin_H']))   
    def test2_datasplit(self):
        self.assertAlmostEqual(train_X.iloc[4,0], 32.102631578947395) 
    def test3_knn_train1_y(self):
        self.assertAlmostEqual(knn_train1_y_acc, 0.820224719101)
    def test4_knn_test1_y(self):
        self.assertAlmostEqual(knn_test1_y_acc, 0.687150837989)
    def test5_confusion(self):
        self.assertTrue(knn_mat1_train[1,1]==191)

Success

.....
----------------------------------------------------------------------
Ran 5 tests in 0.001s

OK

In [27]:
#Output your answers
answers= [NAME, q3_answer, q4_answer, q5_answer, q6_answer]
with open('answers.txt', 'w') as outfile:   #The "with" incorporates an open and close of file. 
    outfile.write("\n".join(answers))